body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

h1 {
    margin: 0;
}

main {
    margin: 20px;
}

.productos {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
}

.producto {
    background-color: #f4f4f4;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

h2 {
    color: #333;
    margin-top: 0;
}

.footer {
    padding: 50px 0;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap; 
}

.link ul li a {
    color: black;
    text-align: left;
    transition: color 0.3s ease;
}

.link h3 {
    color: white;
    font-size: 18px;
    margin-bottom: 10px;
    display: block;
    text-align: left;
}

.link a:hover {
    color: #F35200;
}

@media(max-width:991px) {
    .menu {
        padding: 20px;
    }

    .menu label {
        display: initial;
    }

    .menu .navbar {
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background-color: #2D343C;
        display: none;
    }

    .menu .navbar ul li {
        width: 100%;
    }

    #menu:checked~.navbar {
        display: initial;
    }

    .logo {
        display: none;
    }

    .header {
        min-height: 0vh;
    }

    .header-content {
        padding: 100px 30px;
    }

    .header-txt {
        padding: 0;
    }

    .products {
        padding: 30px;
    }

    .products-content {
        grid-template-columns: repeat(1, 1fr); 
    }

    .services {
        padding: 30px;
        margin: 0;
    }

    .services-content {
        grid-template-columns: repeat(1, 1fr); 
    }

    .footer {
        flex-direction: column;
        text-align: center;
    }

    .p {
        text-align: center;
    }
}

@media(max-width: 768px) {
    .productos {
        grid-template-columns: repeat(2, 1fr); 
    }
}

@media(max-width: 480px) {
    .productos {
        grid-template-columns: 1fr; 
    }

    .footer {
        flex-direction: column;
        text-align: center;
    }

    .link ul li a {
        font-size: 16px; 
    }
}

.derechos {
    text-align: center;
    padding: 10px;
    background-color: #333;
    color: white;
}